html {
    background-color: #000;
    /* 디버깅용 */
}

body {
    background-color: #1a1b20;
    width: 350px;
    height: 450px;
    margin: 0;
    padding-top: 8px;
}

.frame {
    background-color: #2a2c37;
    margin: 8px;
    border-radius: 8px;
    padding: 8px;
}

div > h1 {
    margin: 0;
    font-size: 20px;
    color: #cac9d1;
}

.menuBox {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    &:last-child {
        margin-bottom: 0;
    }
}

p {
    margin: 0;
    font-size: 14px;
    color: #c3bbc7;
    cursor: help;
}

.dontHelp {
    cursor: unset;
}

.deleteBtn {
    background-color: #712626 !important;
}

input[type="checkbox"] {
    visibility: hidden;
    margin: 0;
    cursor: pointer;
    transform: translateX(-28px) translateY(-4px);
    &::after {
        content: "";
        visibility: visible;
        background-color: #1d1f27;
        display: block;
        width: 40px;
        height: 20px;
        border-radius: 24px;
        transition: 0.2s cubic-bezier(0, 0, 0, 1) background-color;
    }
    &:checked::after {
        background-color: #b0c6ff !important;
    }
    &::before {
        visibility: visible;
        content: "";
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        background-color: #8f9099;
        border-radius: 8px;
        transform: translateY(2px) translateX(2px);
        transition: 0.2s cubic-bezier(0, 0, 0, 1) transform;
    }
    &:checked::before {
        transform: translateY(2px) translateX(22px);
        background-color: #152e60;
    }
}

.muiltInput {
    display: flex;
}

input[type="number"] {
    width: 40px;
    height: 20px;
    padding: 0;
    text-align: center;
    border: 0;
    background-color: #565868;
    color: white;
    outline: 0;
    border-radius: 10px;
}

input[type="range"] {
    margin: 0;
    appearance: none;
    width: 100px;
    margin-right: 4px;
    background-color: #1d1f27;
    accent-color: #8f9099;
    border-radius: 10px;
    height: 20px;
    padding: 0 2px;
    cursor: pointer;
}

::-webkit-inner-spin-button {
    display: none;
}

input[type="text"] {
    width: 100px;
    border: 0;
    outline: 0;
    background-color: #565868;
    margin-right: 4px;
    height: 20px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    color: white;
}

input[type="button"] {
    outline: 0;
    border: 0;
    border-radius: 10px;
    width: 40px;
    height: 20px;
    background-color: #3c4869;
    color: white;
    cursor: pointer;
}
